[tool.poetry]
name = "pygismeteo-base"
version = "2.1.0"
description = "Base for pygismeteo and aiopygismeteo"
authors = ["monosans <hsyqixco@protonmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/monosans/pygismeteo-base"
classifiers = [
    "Intended Audience :: Developers",
    "Natural Language :: Russian",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.6",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.6.2"
pydantic = "^1.8.2"

[tool.poetry.dev-dependencies]
black = "^21.12b0"
isort = "^5.10.1"
mypy = "^0.931"
pre-commit = "^2.17.0"

[tool.black]
line-length = 79
skip-magic-trailing-comma = true

[tool.isort]
profile = "black"
line_length = 79

[tool.mypy]
strict = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
